---
title: Blog
layout: page
---
<div class = "container">
    <br><br>
    <h2>Blog</h2>
    {% for post in site.posts %}
        {% if post.category == "post" %}
        <div class = "row">
            <div class = "col">
                <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
                <p class = "h5"><b>{{ post.author }}</b> on {{ post.date | date: "%-d %B %Y" }}</p>
                <p>{{ post.excerpt }}</p>
            </div>
        </div>
        <hr>
        {% endif %}
    {% endfor %}
    <p><center>You've reached the end of the blog.</center></p>
</div>