---
title: Home
layout: default
permalink: /index.html
---
<meta property="og:title" content="Termina" />

<style>
    .bg-nav {
        background-color: transparent;
    }
    
    .jumbotron {
        background-color: transparent;
    }
</style>
<div class = "bg-hero" style="background-image: url('{{ site.baseurl }}/assets/covers/bg29_2x.png')">
    {% include navbar.html %}
    {% include jumbotron.html %}
</div>
<div class = "container">
    {% include mac_beta_promo.html %}
    <div class = "row">
        <div class = "row">
            <div class = "col">
                <center>
                    <h2>Get it for your platform</h2>
                </center>
            </col>
        </div>
        <br/>
        <div class = "row">
            <div class = "col-md-6 col-sm-12">
                <center>
                    <h4>Terminal</h4>
                    <img src = "{{ site.baseurl }}/assets/terminal.png" width = "100%"/>
                </center>
            </div>
            <div class = "col-md-6 col-sm-12">
                <center>
                    <h4>macOS</h4>
                    <img src = "{{ site.baseurl }}/assets/termina_macbook_slim.png" width = "100%"/>
                </center>
            </div>
            <!-- <div class = "col-md-4 col-sm-12">
                <center>
                    <h4>iOS</h4>
                    <p class = "text-muted">Coming soon</p>
                    <img src = "{{ site.baseurl }}/assets/ios_beta_ipad_slim.png" width = "100%"/>
                </center>
            </div> -->
        </div>
    </div>
</div>
<script>
    function getBrewCommand() {
        var brew = document.getElementById("brewCommand");
        brew.select();
        document.execCommand("copy");
    }
</script>