---
title: Releases
layout: page
---
<div class = "container">
    <br><br>
    <h2>Download via Homebrew</h2>
    <p>Termina is available through Homebrew! Just copy the command below for your respective version and get updates as they roll out.</p>
    <div class = "row">
        <div class = "col">
            <h5>Regular Base</h5>
            <form>
                <div class = "input-group">
                    <input class="form-control" type="text" value="brew tap TerminaGame/termina-osx; brew install termina" readonly id="brewCommand">
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="button" onclick="getBrewCommand()">Copy</button>
                    </div>
                </input>
                </div>
            </form>
        </div>
        <div class = "col">
            <h5>Developer Base</h5>
            <form>
                <div class = "input-group">
                    <input class="form-control" type="text" value="brew tap TerminaGame/termina-osx; brew install termina-dev" readonly id="brewCommand">
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="button" onclick="getBrewCommand()">Copy</button>
                    </div>
                </input>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <h2>Releases</h2>
    <p>We also provide the regular releases as ZIP downloads here if you don't want to use Homebrew.</p>
    {% for post in site.posts %}
        {% if post.category == "release" %}
            {% if post.state == "dev" %}
            <div class = "row {% if post.next == nil %}alert alert-success{% endif %}">
                <div class = "col-md-9 col-sm-12">
                    <a href="{{ post.url }}"><h2>{{ post.title }} - {{ post.build }} ({{ post.product }})</h2></a>
                    <p class = "h5">Released on {{ post.date | date: "%-d %B %Y" }}</p>
                    <p>{{ post.excerpt }}</p>
                </div>
                <div class = "col-md-3 col-sm-12">
                    <a href = "{{ page.dl_url }}" class="btn btn-warning btn-large btn-block">Download Release</a>
                    <p>
                        <div class="alert alert-warning" role="alert">
                            This is a developer build; proceed with caution.
                        </div>
                    </p>
                </div>
            </div>
            <hr>
            {% else %}
            <div class = "row">
                <div class = "col-md-9 col-sm-12{% if post.next == nil %}alert alert-success{% endif %}">
                    <a href="{{ post.url }}"><h2>{{ post.title }} - {{ post.version }} ({{ post.product }})</h2></a>
                    <p class = "h5">Released on {{ post.date | date: "%-d %B %Y" }}</p>
                    <p>{{ post.excerpt }}</p>
                </div>
                <div class = "col-md-3 col-sm-12">
                    <a href = "{{ page.dl_url }}" class="btn btn-secondary btn-large btn-block">Download Release</a>
                </div>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
<script>
    function getBrewCommand() {
        var brew = document.getElementById("brewCommand");
        brew.select();
        document.execCommand("copy");
    }
</script>