html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bg-hero {
    background-color: #E64A19;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.bg-nav {
    background-color: #E64A19;
    color: white;
}

.cmd-frame {
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    min-height: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.post img {
    width: 75%;
}

.toriel {
    background-color: #333;
    color: white;
}

.octicon_big {
    width: 2.5rem;
    height: auto;
}

a.btn span {
    margin-right: 8px;
    margin-left: 8px;
}
    
.btn-icon {
    width: 0.75rem;
    height: auto;
    }

.post-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    text-shadow: 0px 0px 8px #000000;
    box-shadow: inset 5px 1px 8px #333333;
    margin-right: 0;
}