html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bg-hero {
    background-color: #E64A19;
    color: white;
}

.bg-nav {
    background-color: #E64A19;
    color: white;
}

.footer {
    width: 100%;
    min-height: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.post img {
    width: 75%;
}

.post-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    text-shadow: 0px 0px 8px #000000;
    box-shadow: inset 5px 1px 8px #333333;
    margin-right: 0;
}