{% if site.enable_ios_beta %}
<div class = "row shadow p-4 mb-4 rounded toriel">
    <div class = "col-md-3 col-sm-12">
        <img src = "{{ site.baseurl }}/assets/ios_beta_ipad_slim.png" width="100%"/>
    </div>
    <div class = "col-md-9 col-12-sm">
        <h2>Help test the iOS Beta</h2>
        <p>
            Join the Termina for iOS Beta Program and test releases of Termina for iOS and give feedback to make Termina for iOS the best release yet.
        </p>
        <p>
            <a class = "btn btn-primary" href = "{{ site.baseurl }}/ios/tutoriel.html">Sign up</a>
        </p>
    </div>
</div>
{% endif %}