<style>
    .display-4 {
        font-weight: bold;
    }
</style>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="lead">
            <div class="container">
                <div class = "row">
                    <div class = "col-md-5 col-sm-12">
                        <h1 class="display-4">Try Termina<sup>βeta</sup></h1>
                        <p>Termina is a fun game written in the Swift language. Catch errors, update versions, and try to get to the end of the infinitely-generated dungeon. Can you defeat Termina in time?</p>
                        <a class="btn btn-light btn-lg shadow" href = "{{ site.baseurl }}/releases/">View Releases</a>
                    </div>
                    <div class = "col-md-7 col-sm-12">
                        <img width = "100%" src = "{{ site.baseurl }}/assets/termina_devices_promo.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>