{% if site.enable_macos_beta %}
<div class = "row shadow p-4 mb-4 rounded toriel">
    <div class = "col-md-4 col-sm-12">
        <img src = "{{ site.baseurl }}/assets/macos_beta_promo_slim.png" width="90%"/>
    </div>
    <div class = "col-md-8 col-12-sm">
        <h2>Help test the macOS Beta</h2>
        <p>
            Join the Termina for macOS Beta Program and test releases of Termina for macOS and give feedback.
        </p>
        <p>
            <a class = "btn btn-primary" href = "{{ site.baseurl }}/mac/tutoriel.html">Sign up</a>
        </p>
    </div>
</div>
{% endif %}