<div class = "row shadow p-4 mb-4 rounded toriel">
    <div class = "col-md-4 col-sm-12">
        <img src = "{{ site.baseurl }}/assets/macos_beta_promo_slim.png" width="90%"/>
    </div>
    <div class = "col-md-8 col-12-sm">
        <h2>The macOS Beta is coming soon</h2>
        <p>
            On <b>December 5, 2018</b>, we'll be launching the Termina for macOS Beta Program, an opportunity to test new Termina for macOS releases and send feedback.
        </p>
        <p>
            <a class = "btn btn-primary" href = "{{ site.baseurl }}/post/2018/11/30/blog.html">Learn more</a>
        </p>
    </div>
</div>