<nav class="navbar navbar-expand-lg navbar-dark bg-nav">
  <a class="navbar-brand" href="{{ site.baseurl }}/"><b>Termina</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link {% if page.title == 'Blog' or page.category == 'post' %}active{% endif %}" href="{{ site.baseurl }}/blog/">Blog</a>
        </li>
        <li class="nav-item {% if page.title == 'Termina for macOS' %}active{% endif %}">
            <a class="nav-link" href="{{ site.baseurl }}/mac/">Mac</a>
        </li>
        <li class="nav-item {% if page.title == 'Releases' %}active{% endif %}">
            <a class="nav-link" href="{{ site.baseurl }}/releases/">Releases</a>
        </li>
      {% if site.enable_beta %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {% if page.beta %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Beta Programs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ site.baseurl }}/mac/tutoriel.html">macOS</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/ios/tutoriel.html" disabled>iOS</a>
        </div>
      </li>
      {% else %}
      <li class = "nav-item"><a class = "nav-link" disabled>Beta Programs</a></li>
      {% endif %}
      <li class="nav-item {% if page.title == 'Press Kit' %}active{% endif %}">
            <a class="nav-link" href="{{ site.baseurl }}/press/">Press Kit</a>
        </li>
    </ul>
    <span>
        {% if page.permalink == "/mac/" %}
            <a class = "btn btn-light" href = "https://www.github.com/TerminaGame/mac">Fork mac on GitHub</a>
        {% elsif page.permalink == "/press/" %}
            <a class = "btn btn-light" href = "https://www.github.com/TerminaGame/Press">Fork Press on GitHub</a>
        {% else %}
            <a class = "btn btn-light" href = "https://www.github.com/TerminaGame/">View GitHub Profile</a>
        {% endif %}
    </span>
  </div>
  </nav>