---
title: Releases
layout: page
permalink: /releases/
---
<br><br>
<div class = "container">
    {% include mac_beta_promo.html %}
    {% include ios_beta_promo.html %}
    <h2>Download via Homebrew</h2>
    <p>Termina is available through Homebrew! Just copy the command below for your respective version and get updates as they roll out.</p>
    <div class = "row">
        <div class = "col">
            <h5>Regular Base</h5>
            <form>
                <div class = "input-group">
                    <input class="form-control" type="text" value="brew tap TerminaGame/termina-osx; brew install termina" readonly id="brewCommand">
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="button" onclick="getBrewCommand()">Copy</button>
                    </div>
                </input>
                </div>
            </form>
        </div>
        <div class = "col">
            <h5>Developer Base</h5>
            <form>
                <div class = "input-group">
                    <input class="form-control" type="text" value="brew tap TerminaGame/termina-osx; brew install termina-dev" readonly id="brewCommand">
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="button" onclick="getBrewCommand()">Copy</button>
                    </div>
                </input>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <h2>Releases List</h2>
    <p>We also provide the regular releases as ZIP downloads here if you don't want to use Homebrew.</p>
    <p class = "text-muted">Note: if the app you're looking for is in any beta program, it won't appear in this list.</p>
    
    {% for post in site.categories['release'] limit:1 %}
        {% if post.state == "dev" %}
        <div class = "row shadow mb-4 p-4 rounded">
            <div class = "col-md-9 col-sm-12">
                <div class = "row">
                    <div class = "col-2">
                        {% if post.product == "base" %}
                            <img src = "{{ site.baseurl }}/assets/icons/base.png" width="100%"/>
                        {% elsif post.product == "ios" %}
                            <img src = "{{ site.baseurl }}/assets/icons/termios-rounded.png" width="100%"/>
                        {% elsif post.product == "mac" %}
                            <img src = "{{ site.baseurl }}/assets/icons/termmac.png" width="100%"/>   
                        {% endif %}
                    </div>
                    <div class = "col-10">
                        <a href="{{ post.url }}"><h2>Latest: {{ post.title }} - {{ post.build }} ({{ post.product }})</h2></a>
                        <p class = "h5">Released on {{ post.date | date: "%-d %B %Y" }}</p>
                        <p>{{ post.excerpt }}</p>
                    </div>
                </div>
            </div>
            <div class = "col-md-3 col-sm-12">
                <a href = "{{ page.dl_url }}" class="btn btn-warning btn-large btn-block"><span></span>Download</a>
                <p>
                    <div class="alert alert-warning" role="alert">
                        This is a developer build; proceed with caution.
                    </div>
                </p>
            </div>
        </div>
        <hr>
        {% else %}
        <div class = "row row shadow mb-4 p-4 rounded">
            <div class = "col-md-9 col-sm-12">
                <div class = "row">
                    <div class = "col-2">
                        {% if post.product == "base" %}
                            <img src = "{{ site.baseurl }}/assets/icons/base.png" width="100%"/>
                        {% elsif post.product == "ios" %}
                            <img src = "{{ site.baseurl }}/assets/icons/termios.png" width="100%"/>
                        {% elsif post.product == "mac" %}
                            <img src = "{{ site.baseurl }}/assets/icons/termmac.png" width="100%"/>   
                        {% endif %}
                    </div>
                    <div class = "col-10">
                        <a href="{{ post.url }}"><h2>Latest: {{ post.title }} - {{ post.build }} ({{ post.product }})</h2></a>
                        <p class = "h5">Released on {{ post.date | date: "%-d %B %Y" }}</p>
                        <p>{{ post.excerpt }}</p>
                    </div>
                </div>
            </div>
            <div class = "col-md-3 col-sm-12">
                <a href = "{{ page.dl_url }}" class="btn btn-secondary btn-large btn-block"><span></span>Download</a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    
    {% for post in site.categories['release'] offset:1 %}
        {% if post.state == "dev" %}
            <div class = "row">
                <div class = "col-md-9 col-sm-12">
                <div class = "row">
                    <div class = "col-2">
                        {% if post.product == "base" %}
                            <img src = "{{ site.baseurl }}/assets/icons/base.png" width="100%"/>
                        {% elsif post.product == "ios" %}
                            <img src = "{{ site.baseurl }}/assets/icons/termios.png" width="100%"/>
                        {% elsif post.product == "mac" %}
                            <img src = "{{ site.baseurl }}/assets/icons/termmac.png" width="100%"/>   
                        {% endif %}
                    </div>
                    <div class = "col-10">
                        <a href="{{ post.url }}"><h2>{{ post.title }} - {{ post.build }} ({{ post.product }})</h2></a>
                        <p class = "h5">Released on {{ post.date | date: "%-d %B %Y" }}</p>
                        <p>{{ post.excerpt }}</p>
                    </div>
                </div>
            </div>
                <div class = "col-md-3 col-sm-12">
                    <a href = "{{ page.dl_url }}" class="btn btn-warning btn-large btn-block"><span></span>Download</a>
                    <p>
                        <div class="alert alert-warning" role="alert">
                            This is a developer build; proceed with caution.
                        </div>
                    </p>
                </div>
            </div>
            <hr>
            {% else %}
            <div class = "row">
                <div class = "col-md-9 col-sm-12">
                <div class = "row">
                    <div class = "col-2">
                        {% if post.product == "base" %}
                            <img src = "{{ site.baseurl }}/assets/base.png" width="100%"/>
                        {% else if post.product == "ios" %}
                            <img src = "{{ site.baseurl }}/assets/termios.png" width="100%"/>
                        {% else if post.product == "mac" %}
                            <img src = "{{ site.baseurl }}/assets/termmac.png" width="100%"/>   
                        {% endif %}
                    </div>
                    <div class = "col-10">
                        <a href="{{ post.url }}"><h2>Latest: {{ post.title }} - {{ post.build }} ({{ post.product }})</h2></a>
                        <p class = "h5">Released on {{ post.date | date: "%-d %B %Y" }}</p>
                        <p>{{ post.excerpt }}</p>
                    </div>
                </div>
            </div>
                <div class = "col-md-3 col-sm-12">
                    <a href = "{{ page.dl_url }}" class="btn btn-secondary btn-large btn-block"><span></span>Download</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <p>
        <center class = "text-muted">Looks like you've reached the end of the release list</center>
    </p>
</div>
<script>
    function getBrewCommand() {
        var brew = document.getElementById("brewCommand");
        brew.select();
        document.execCommand("copy");
    }
</script>