<!DOCTYPE html>
<html>
    {% include head.html %}
    {% include navbar.html %}
<body>
    <div class = "container">
        <br><br>
        <div class = "row">
            <div class = "col-md-8 col-sm-12">
                <h1 class = "display-4">{{ page.title }}</h1>
                {% if page.state == "dev" %}
                    <h2>{{ page.product | capitalize }} Version {{ page.version }}, Build <b>{{ page.build }}</b></h2>
                {% else %}
                    <h2>{{ page.product | capitalize }} Version <b>{{ page.version }}</b></h2>
                {% endif %}
                
                <p>Released on {{ page.date | date: "%-d %B %Y" }}</p>
                <br><br>
                <h3>Release Notes</h3>
                {{ content }}
            </div>
            <div class = "col-md-4 col-sm-12">
                {% if page.state == "dev" %}
                    <a href = "{{ page.dl_url }}" class="btn btn-warning btn-large btn-block">Download Release</a>
                    <p>
                        <div class="alert alert-warning" role="alert">
                            This is a developer build; proceed with caution.
                        </div>
                    </p>
                {% else %}
                    <a href = "{{ page.dl_url }}" class="btn btn-primary btn-large btn-block">Download Release</a>
                {% endif %}
            </div>
        </div>
        
        
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
{% include footer.html %}
</html>