<!DOCTYPE html>
<html>
    {% include head-release.html %}
    {% include navbar.html %}
<body>
    <div class = "container">
        <br><br>
        <div class = "row">
            <div class = "col-md-8 col-sm-12">
                
                <div class = "row">
                    <div class = "col-9">
                        <h1 class = "display-4"><b>{{ page.title }}</b></h1>
                        {% if page.state == "dev" %}
                            {% if page.product == "ios" %}
                                <h3>iOS Version {{ page.version }}, Build <b>{{ page.build }}</b></h3>
                            {% else %}
                            <h3>{{ page.product | capitalize }} Version {{ page.version }}, Build <b>{{ page.build }}</b></h3>
                            {% endif %}
                            
                        {% else %}
                            {% if page.product == "ios" %}
                                <h3>iOS Version {{ page.version }}, Build <b>{{ page.build }}</b></h3>
                            {% else %}
                            <h3>{{ page.product | capitalize }} Version {{ page.version }}, Build <b>{{ page.build }}</b></h3>
                            {% endif %}
                        {% endif %}
                        
                        <p>Released on {{ page.date | date: "%-d %B %Y" }}</p>
                    </div>
                    <div class = "col-3">
                        {% if page.product == "base" %}
                            <img src = "{{ site.baseurl }}/assets/icons/base.png" width="100%"/>
                        {% elsif page.product == "ios" %}
                            <img src = "{{ site.baseurl }}/assets/icons/termios.png" width="100%"/>
                        {% elsif page.product == "mac" %}
                            <img src = "{{ site.baseurl }}/assets/icons/termmac.png" width="100%"/>   
                        {% endif %}
                    </div>
                </div>
                
                
                <br><br>
                <h3>Release Notes</h3>
                {{ content }}
            </div>
            <div class = "col-md-4 col-sm-12">
                {% if page.state == "dev" %}
                    <a href = "{{ page.dl_url }}" class="btn btn-warning btn-large btn-block">Download Release</a>
                    <p>
                        <div class="alert alert-warning" role="alert">
                            This is a developer build; proceed with caution.
                        </div>
                    </p>
                {% else %}
                    <a href = "{{ page.dl_url }}" class="btn btn-primary btn-large btn-block">Download Release</a>
                {% endif %}
                {% if page.product == "base" %}
                    <p>
                        <div class="alert alert-primary" role="alert">
                            <h4 class = "alert-heading">Installation instructions</h4>
                            <p>To install this product, copy the <code>termina</code> binary to where you can execute Unix binaries (usually <code>/usr/bin/</code> or <code>/usr/local/bin/</code>). Alternatively, you can copy this to a local folder in your Home directory and <a href="http://osxdaily.com/2014/08/14/add-new-path-to-path-command-line/">export the PATH in your Bash profile</a>.</p>
                        </div>
                    </p>
                {% elsif page.product == "ios" %}
                    <p>
                        <div class="alert alert-primary" role="alert">
                            <h4 class = "alert-heading">Installation instructions</h4>
                            <p>To install this product, install Termina for iOS from the App Store.</p>
                        </div>
                    </p>
                {% elsif page.product == "mac" %}
                    <p>
                        <div class="alert alert-primary" role="alert">
                            <h4 class = "alert-heading">Installation instructions</h4>
                            <p>To install this product, move <code>Termina.app</code> to your Applications folder. If you are installing this for yourself, you can also move this to your user's Applications folder.</p>
                            
                            <p>Alternatively, you can install Termina from the Mac App Store.</p>
                        </div>
                    </p>
                {% endif %}
            </div>
        </div>
        
        
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
{% include footer.html %}
</html>